node_modules/
dist/
out/
.vite/
*.tsbuildinfo

yandex_key.env
authorized_key.json
sa-key*.json
secr_env.env
secr_ci_key.json
.env
.env.local

infra/account.env
infra/gateway/openapi.yaml

*.log
.DS_Store
Thumbs.db
